body{

background-image: url("../img/material/IMG_7467.JPG");
background-size: cover;
background-position: center;
background-attachment: fixed;
}
.menu{
  margin: 5em 5em;
  color: #ffff;
  text-decoration: none;
  padding: 15px 0;
}
a{
color: #ffff;
}
